* {
    margin: 0;
    padding: 0;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.box[data-place-value="0"] {
    background: white;
}
.box[data-place-value="1"] {
    background: red;
}
.box[data-place-value="-1"] {
    background: blue;
}
